*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 9px;
    margin-block-end: 9px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 65px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    /*border: 1px solid white;*/

    width: 90%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

a{
    color: whitesmoke;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    
}
