body{
    background-color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    width: auto;
    height: 99.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

body .netflix_logo{
    display: flex;
    justify-content: left;
    align-items: left;
}

.profiles p{
    /*border: 1px solid white;*/

    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22%;
}
.image_profiles{
    /*border: 1px solid white;*/

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.image_profiles img{
    /*border: 1px solid white;*/

    margin: 12px;
    cursor: pointer;
}

.image_profiles a{
    /*border: 1px solid white;*/

    font-size: 60px;
    color: whitesmoke;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

#btn_listo:hover{
    border: 1px solid white;

    font-style: bold;
    cursor: pointer;
    width: fit-content;
}

