body{
    /*border: 1px solid black;*/

    /*font-family: 'Open Sans', sans-serif;*/
    font-family: arial,sans-serif;
    width: 99.5%;
    height: 99.5%;
}

body .category1{
     /*border: 1px solid black;*/

     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin-right: 0%;
     text-decoration: none;
}

body #category1 a{
    color: #818181;
    margin: 10px 5px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
body .category1 .category2{
    /*border: 1px solid black;*/
  
    display: flex;
    margin-left: 80%;
    justify-content: right;
    text-decoration: none;
}

body .category1 .category2 a{
    color: #818181;
    margin: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    color: white;
    width: 60px;
    height: 30px;
    border: none;
    background: #2666f0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 7px;
}

.google #center_google{

    position: relative;
    top: 200%;
    left: 50%;
    margin-top: 10%;
    margin-left: -229px;
}

body form{
    word-wrap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.search{
    width: 40%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 16px;
}

.google_search{
    width: 10%;
    height: 40px;
    line-height: 40px;
    background: lightgray;
    padding: 0 20px;
    border-radius: 100px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 16px;
}

.lucky{
    width: 10%;
    height: 40px;
    line-height: 40px;
    background: lightgray;
    padding: 0px 20px;
    border-radius: 100px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 16px;
    margin-left: 2%;
}

@media screen and (max-width: 768px){
    .search{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .search{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .search{
        width: 100%;
    }
}


